regular value is <%= embed_action :controller => "embedded_actions_test", :action => "regular_action" %>
cached value is <%= embed_action :controller => "embedded_actions_test", :action => "cached_action", :refresh_cache => params[:refresh] %>