regular value is <%= render_embeded :controller => "embeded_actions_test", :action => "regular_action" %>
cached value is <%= render_embeded :controller => "embeded_actions_test", :action => "cached_action" %>