regular value is <%= render_component :controller => "embeded_actions_test", :action => "regular_action", :caching => true %>
cached value is <%= render_component :controller => "embeded_actions_test", :action => "cached_action", :caching => false %>